<!--<!DOCTYPE html>-->
<!--<html></html> and any other HTML specific tags-->
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>      
      <!--[12.2.2:17 -> custom.css.scss] 
      Adding follower statts to home page
      -->
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    <!--[ 11.3.3:47 -> ] adding status feed to home apge-->
  </div>
<% else %>


<div class="center jumbotron">
  <h1>Welcome to my Twitter Clone</h>

  <h2>
    Peep it bruh, I'm bout to go in rn. 
  </h2>

  <!-- this link is stubbed out with #-->
  <%= link_to "You got me interested. Sign me up.", signup_path, class: "btn btn-lg btn-primary" %>
  <!--[ 5.4.2:34 ] linking button to signup-->
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
            
<% end %>

<!--     [ 11.3.1:35 -> shared/_user_info.html.erb ] 
adding microposts creation to the home page

to build form for creating microposts, we serve up different HTML based on 
whether the site visitor is logged in or not

-->