<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
   <!--            [ 8.1.2:2 skip 3, -> sessions_controller.rb ]          -->
   <!--Same form_for as new user. But in that one, Rails can infer that the action -->
   <!--of the form was to POST to the URl/users. In this case, we need to indicate-->
   <!--the name of the resource and corresponding URL-->
   <!--we add a link to signup page for convenience         -->
   
   <!--           [ 8.4.5 -> custom.css.scss ] 
   Adding a remember me checkbox to the form
   -->
   
   <!--           [ 10.2.1:38 SKIP 39-> password_resets/new.html.erb ] 
   Adding link to password resets
   
   -->