<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @user.email %>
   

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<!--       ] 10.2.4:50 -> password_resets_controller ] form to reset password
Similar to updating user edit view, but we only want to work with password and
confirmation field
The email will automatically be available in the edit action because of its 
presence in the link above, but after we submit the form its value will be lost.
 solution is to use a hidden field to place (but not display) the email on the
 page, and then submit it along with the rest of the form’s information.
-->