Hi <%= @user.name %>,

Welcome to Kevin's Twitter Clone! Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

<!--       [ 10.1.2 -> /user_mailer/account_activation.html.erb ]
Account activation text view

-->