$("#follow_form").html("<%= escape_javascript(render('users/unfollow')) %>")
$("#followers").html('<%= @user.followers.count %>')

<!--    [ 12.2.5:37 -> destroy.js.erb ]

Two jQuery methods will be used.

1) $ syntax is used to access a DOM, Document Ojbect Model, element based on its
unique CSS id.
   - follow_form is a div that wraps the form, not the form itself
   - # is used to indicate a CSS id.
2) html is used to update the HMTL inside the relevant element with the contents
of its argument.
To replace the entire follow form witht eh string foobar, we write
$("#follow_form").html("foobar")

In this case, we use embedded ruby to update the follow form with the unfollow partial
, which is what it should show after a successful following) and update the
follower count

-->