$("#follow_form").html("<%= escape_javascript(render('users/follow')) %>")
$("#followers").html('<%= @user.followers.count %>')

<!--       [ 12.2.5:38 -> following_test.rb ]
Ruby JavaScript (RJS) to destroy  following relationship
-->