<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>


<!-- [ 12.2.2:19 -> routes.rb ]
A Partial for a follow/unfollow form
Does nothing but defer work to follow and unfollow partials, which need new routes
for the relationship resource

-->