<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>


<!--        [ 12.2.2:21 -> _unfollow.html.erb] Form for following a user
1) Use form_for to manipulate a Relationship model object
2) builds a new relationship2
3) sends a post request to relationship controller to create a relationship
4) no content orther than the button, but it still needs to send the followed_id
to the controller. Which is solved by,
   < hidden_field_tag :followed_id, @user.id %>
which produces HTML of the form:
   <input id="followed_id" name="followed_id" type="hidden" value="3" />
hidden tag puts relevenat information on the page w/o displaying it to the user

-->


<!--         [12.2.5:33 -> relationships_controller.rb  ] 
following a user USING Ajax
added remote: true
Rails automagically uses Ajax


HTML generated :
<form action="/relationships/117" class="edit_relationship" data-remote="true"
      id="edit_relationship_117" method="post">
  .
  .
  .
</form>

data-remote="true" inside the form tag, which tells Rails to allow the form to 
be handled by JS
-->