<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <%= f.submit "Unfollow", class: "btn" %>
<% end %>

<!--          [ 12.2.2:22 -> views/users/show.html.erb  ] 
Form for unfollowing user
1) finds existing relationship and then sends a DELETE request to destroy
a relationship


-->
