<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>

<!--          [ 9.4.2:52 ->  users_controller.rb ] user delete links (viewable only by admins)
method: :delete argument arranges for the link to issue the necessary DELETE
request
-->