<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
 <%= render @users %>
  <!--< @users.each do |user| %>-->
  <!--  <li>-->
  <!--    <= render user %>-->
  <!--  </li>-->
  <!--< end %>-->
</ul>

<%= will_paginate %>
<!--     [ 9.3.1:34 -> custom.css.scss ] users index view
iterature thru users and wraps each one in a li tag

-->

<!--     [ 9.3.3:41 -> users_controller.rb ] The users index with pagination
inside a users view, it automatically looks for an @users object, and then displays 
pagination links to access other pages. The view in Listing 9.41 doesn’t work yet,
though, because currently @users contains the results of User.all (Listing 9.33),
whereas will_paginate requires that we paginate the results explicitly using 
the paginate method:
-->

<!--    [ 9.3.5:46/48 -> ] refactoring attempt in index view
Here we call render not on a string with the name of a partial, but rather on a 
user variable of class Userin this context,
Rails automatically looks for a partial called _user.html.erb, which we must create
-->

<!-- 
calling render riectly on the @users variable 
Here Rails infers that @users is a list of User objects; moreover, when called w
with a collection of users, Rails automatically
iterates through them and renders each one with the _user.html.erb partial.

-->