<%= provide(:title, 'Sign Up') %>

<h1>Sign Up </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<!--             [ 7.2.1:13 -> custom.css.scss ]
This is to create the SignUp form 
     
      < %= form_for(@user) do |f| %>
        .
        .
        .
      < % end %>
takes a block with one variable f, for form.

      < %= f.label :name %>
      < %= f.text_field :name %>
creates the HTML needed to make a labled text field element appropriate for
setting the name attribute of a User model. the output HTML is
         <label for="user_name">Name</label>
         <input id="user_name" name="user[name]" type="text" />

The one for email is below, and the type is good cuz some mobile devices will 
enable a special keyboard:
         <label for="user_email">Email</label>
         <input id="user_email" name="user[email]" type="email" />

the password type will obscure the input for security
-->

<!--              [ 7.3.3:18 -> _error_messages.html.erb ]
we render a partial called 'shared/error_messages'. 
we put it in a shared directory for partials expected to be used in views
across multiple controllers.

-->