<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>    
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>    
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
  <!--              [ 11.2.1:23 -> seeds.rb  ] adding micropost to user show
  if @user.microposts.any? will make sure that an empty list won't be displayed
  when the user has no microposts
  
  -->
  
  
</div>
<!--                 [ 7.1.4:8 -> users_helps.rb ]
Using a gravatar_for helper function to display a User profile image and then
name.
                     [ 7.1.4:10 -> users_controller.rb]   
Using aside tag for sidebar. row and col-md-4 classes are part of Bootstrap
-->



<!--< @user.name %>, <= @user.email %> -->
<!--                 [ 7.1.2:4 -> users_controller.rb ] 
<!--This is not the permanent view for the show action in the Users controller.-->
<!--RN, we're assuming the exiestence of an instance var @users. -->
<!--We must define @user in order for user show view to work.-->
<!---->


<!--                  [ 12.2.2:23 -> users_controller_test.rb  ] 
Adding the follow form and follower stats tot he user profile apge
1) render the form, if logged in
2) place stats under gravatar


-->