<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<!--          [ 7.3.3:19 -> custom.css.scss ] 
1) errors.count => number of errors
2) errors.any? => T/F
pluralize(@user.errors.count, "error") => takes an integer arg and then returns
the number with a properly pluralized version of its 2nd argument.

-->

<!--         [ 11.3.1:39 -> new.html.erb ]
Error message that work with other objects

-->