<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>

<!-- [ 11.3.3:46 ->  home.html.erb ] status feed partial
1) defers the rendering to the micropost partial defined
2) Here Rails knows to call the micropost partial because each element of
@feed_items has class Micropost. This causes Rails to look for a partial with the 
corresponding name in the views directory of the given resource
app/views/microposts/_micropost.html.erb
-->