<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>


<!--     [ 11.3.1:36 -> _micropost_form.html_erb ] partial for user info sidear

will display total number of microposts for the user

-->