<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>  
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
     <!-- time_ago_in_words helper method-->
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>

  </span>
</li>

<!--  [ 11.2.1:21 -> users_controller.rb ] 
Partial for showing a single micropost
-->

<!-- [ 11.3.4:49 -> microposts_controller.rb ] 
Added a delete link to micropost partial
method: :delete argument, which arranges for the link to issue the n
ecessary DELETE request.
-->

<!-- [ 11.4.1:59 -> picture_uploader.rb ]

picture format validation

-->