<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <!--**instead of using about_path, we can stub it with '#', which would
      make the link clickable, but go nowhere-->
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>


    <!-- [ 5.3.3:24 -> test/integration/site_layout_test.rb ] Adding links to Footer partial
    1) Use function link_to by using proper named routes
    -->