<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
    
    <!-- [ 5.3.3:23 -> _footer.html.erb ] Adding links to Header partial
    1) Use function link_to by using proper named routes
    2) Link logo to root_path as well
    -->
    
    <!--     [ 8.2.3:16 -> app/assets/javascripts/application.js ] Changing layout links for logged-in users
    Using embedded ruby to use helper function logged_in? to check 
    -->
    
    <!-- [ 9.1.1:4 -> user_controller.rb ] Adding Url to the "settings" link in the site layout
    Since we added resources :users, it endows our app with all actions for 
    RESTful Users resource along with a lot of named routes
    -->
    
    <!--     [ 9.3.1:36 -> db/seeds.rb ] Adding URL to users link
      Use the last unused named route  
    -->