<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <!-- [| 7.1.1:1] Display debug info only if in development env -->
    </div>
  </body>
</html>

<!--             [ 7.4.2:25 -> users_signup_test.rb ]
in the create action, the message is inserted into the flash template, and so 
the HTML code for flash[:success] = "..." appears as
    <div class="alert alert-success">Welcome to the Twitter Clone!"</div> 
Which is only executed per successful Sign Up. Thus this portion of code does 
not always act. 
-->




<!--
The render method is used on partials. Partials are logical groupings of code
that could be package separately. 
We put these partials that are on every page in the layouts

-->